@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (max-width:425px){
    .botao{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 3px;
        padding: 10px 5px;
        width: 200px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}